{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current",
                    "electron": "2.0.9"
                },
                "loose": true
            }
        ]
    ]
}