.list-wrap {
  margin: auto; padding: 56px 0; width: 1280px;
  .list-title{
    font-size: 25px; line-height: normal;
  }
}
.list-sort {
  position: relative; margin-top: 16px;
  .sort-total { 
    padding: 5px 0; font-size: 14px; color: #555;
    .deco {
      color: #047f89
    }
  }
  .sort-sec {
    display: flex; position: absolute; right: 0; top: 0;
    .select-box {
      margin-right : 8px;
      .select {
        padding: 4px 8px; border: 1px solid #ccc; border-radius: 2px;
      }
      .select-view {
        position: relative;
        .select {
          display: block; padding: 6px 8px; padding-right: 24px;
          &::before{
            content:"\25BC"; position: absolute; top: 50%; right: 8px; text-align: center; transform: translateY(-50%);
          }
        }
        .option-box {
          position: absolute; border: 1px solid #ccc; background-color: #eee;
          .option {
            padding: 4px;
          }
        }
      }
    }
    .sort-box {
      display: flex; border: 1px solid #ccc; vertical-align: top;
      .sort-item {
        display: block; position: relative; padding: 4px 12px; background-color: #fff; color: #555;
        &:first-child {
          &::before { display: none; }
        }
        &::before {
          content: ""; position: absolute; top: 0; left: 0; width: 1px; height: 100%; background-color: #ccc;
        }
        &.on {
          color: #aaa; background-color: #eee;
        }
      }
    }
  }
}
.list-content {
  margin-top: 12px;
  .list-item {
    display: flex; width: 100%;
    .item {
      padding: 12px 4px; width: 10%; text-align: center;

      &.title { width: 60%; }
    }
  }
  .list-header {
    .list-item {
      border-top: 2px solid #555;
      .item {
        font-size: 13px;
      }
    }
  }
  .list-body {
    .list-item {
      border-bottom: 1px solid #ccc;
      
      &:first-child {
        border-top: 1px solid #ccc;
      }
      .item {
        .item-title {
          display: none;
        }
        .item-content {
          color: #555;
        }
        &.title {
          text-align: left;
        }
      }
    }
  }
}

.list-pagination {
  display: flex; justify-content: center; padding-top: 24px; width: 100%; margin: auto;
  .paging-box {
    .link{
      position: relative; padding: 0 12px;
      

      &.on { color: #047f89; font-weight: 700; }
      &::before{
        content: ""; position: absolute; left: 0; top: 0; width: 1px; height: 100%; background-color: #ddd; 
      } 
      &:first-child{
        &::before{
          display: none;
        }
      } 
    }
  }
}