.input-form,
.result {
    width: 320px;
    height: 420px;
    background-color: #fff;
    padding: 40px;
    border-radius: 18px;

    p {
        font-size: 25px;
        margin-bottom: 12px;

        button {
            margin-top: 0px;
            height: 60px;
            border-radius: 0px;
            background-color: #f4f2f0;
            color: #7b7b7b;
        }

        button.active {
            color: #fff;
            background-color: #6bd4ff;
        }
    }

    ul {
        li {
            padding: 12px 0px 12px 0px;

            h3 {
                color: #555;
                margin-bottom: 9px;
                font-size: 14px;
            }

            p {
                display: flex;
                height: 45px;
                line-height: 45px;
                justify-content: space-between;

                span {

                    text-align: center;
                }

                span.btn-si {
                    display: block;
                    height: 45px;
                    width: 50%;
                }

                input {
                    flex: 1;
                    width: 50%;
                    height: 60px;
                    background-color: #f4f2f0;
                    text-align: center;
                    font-size: 15px;
                }

                input::placeholder {
                    color: #7b7b7b;
                    font-size: 18px;
                }
            }

            p.birth,
            p.time {
                display: flex;

                input {
                    color: #363636;
                    font-size: 23px;
                    letter-spacing: 0.5px;
                    ;
                    flex: 1;
                    min-width: 0;
                    // margin: 0px 10px 0px 10px;
                }

                input:first-child,
                input:last-child {
                    margin: 0px;
                }
            }
        }
    }

    button {
        width: 100%;
        height: 60px;
        flex: 1;
        margin-top: 45px;
        border-radius: 40px;
        background-color: #cbcbcb;
        color: #fff;
        font-size: 20px;
    }

    button.active {
        background-color: #ff78c7;
    }
}

@media (max-width: 500px) {}