div#wrap {
    width: 100%;
    // background-image: linear-gradient(to right, #00b09b, #41bff7);
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* 외부 div의 높이를 화면 전체 높이로 설정 (옵션) */
}

h1 {

    font-size: 72px;
    background: linear-gradient(to right, #00b09b, #41bff7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    width: 100%;
    font-size: 50px;
    margin-bottom: 30px;
    text-align: center;
    color: #fff;
}

i.fas.fa-spinner.fa-spin {
    font-size: 50px;
    color: #94b8ff;
}


.input-form,
.result {
    width: 320px;
    height: 420px;
    background-color: #fff;
    padding: 40px;
    border-radius: 18px;
    box-shadow: 0px 1px 6px #9b9b9b;

    p {
        font-size: 25px;
        margin-bottom: 12px;

        button {
            margin-top: 0px;
            height: 60px;
            border-radius: 0px;
            background-color: #f4f2f0;
            color: #7b7b7b;
        }

        button.active {
            color: #fff;
            background-color: #6bd4ff;
        }
    }

    ul {
        li {
            padding: 12px 0px 12px 0px;

            h3 {
                color: #555;
                margin-bottom: 9px;
                font-size: 14px;
            }

            p {
                display: flex;
                height: 45px;
                line-height: 45px;
                justify-content: space-between;

                span {


                    text-align: center;
                }

                span.btn-si {
                    display: block;
                    height: 45px;
                    width: 50%;
                }

                input {
                    flex: 1;
                    width: 50%;
                    height: 60px;
                    background-color: #f4f2f0;
                    text-align: center;
                    font-size: 15px;
                }

                input::placeholder {
                    color: #7b7b7b;
                    font-size: 18px;
                }
            }

            p.birth,
            p.time {
                display: flex;

                input {
                    color: #363636;
                    font-size: 23px;
                    letter-spacing: 0.5px;
                    ;
                    flex: 1;
                    min-width: 0;
                    // margin: 0px 10px 0px 10px;
                }

                input:first-child,
                input:last-child {
                    margin: 0px;
                }
            }
        }
    }

    button {
        width: 100%;
        height: 60px;
        flex: 1;
        margin-top: 45px;
        border-radius: 40px;
        background-color: #cbcbcb;
        color: #fff;
        font-size: 20px;
    }

    button.active {
        background-color: #ff78c7;
    }


    h1 {
        width: 100%;
        font-size: 55px;
        margin-bottom: 30px;
        text-align: center;
        font-size: 60px;
        color: #fff;
    }
}


.result {
    h3 {
        margin-bottom: 15px;
    }

    table {
        width: 100%;
        text-align: center;
        border-top: 1px solid #eee;
        border-left: 1px solid #eee;

        th,
        td {
            border-right: 1px solid #eee;
            border-bottom: 1px solid #eee;
        }

        tr:nth-child(3),
        tr:nth-child(4) {
            font-size: 30px;
            height: 50px;
        }
    }
}

@media (max-width: 600px) {

    #__layout {
        #wrap {

            div {
                width: 100%;

            }

            .input-form,
            .result {
                width: calc(90% - 40px);
                margin: 0 auto;
                padding: 20px;
                padding-bottom: 60px;

                ul {}
            }

            .input-form .btn-submit {
                width: calc(100% - 60px);
                margin-left: 30px;
                margin-right: 30px;
            }
        }
    }
}